/**
    ACTION

    Container for action step buttons

    [1]. Clear floating buttons
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_action-pad: 1.75rem;
$_action-border: 1px solid palette(layout, border);

/*------------------------------------*\
    STYLE
\*------------------------------------*/

#snipcart-discounts {
    float: left;
    width: 50%;
    line-height: $_btn-size;

    a {
        color: palette(form, border);
    }
}

.snip-actions {
    padding: $padding-small;
    overflow: hidden;

    // [1]
    @include clearfix;

    @media #{$mq-medium} {
        padding: $_action-pad;
    }
}

#snip-layout-billing-address,
#snip-layout-payment-method {
    .snip-actions {
        border-top: $_action-border;
    }
}

#snip-layout-payment-method {
    .snip-actions {
        margin-top: 3rem;
    }
}

.snip-actions--no-border {
    border-top: none;
    padding-top: 0;
}

.snip-actions--top {
    border-top: none;
    border-bottom: $_action-border;
}

.snip-actions__link {
    color: palette(action, link);
}

.snip-actions__link--small {
    font-size: fontsize(action, small);
}

.snip-actions__link--right {
}