/**
    FOOTER

    Footer container and copyright link
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_footer-height: 30px;


/*------------------------------------*\
    STYLE
\*------------------------------------*/

.snip-footer {
    padding: .125em 1.75rem;
    text-transform: uppercase;
    border-top: 1px solid palette(footer, background);
    text-align: center;
}

.snip-footer__copyright {
    background: url('img/lock.png') no-repeat left .3em;
    color: palette(footer, color);
    display: inline-block;
    font-size: fontsize(footer, base);
    height: $_footer-height;
    line-height: $_footer-height;
    padding-left: 3.2em;
}

.snip-footer__highlight {
    color: palette(footer, color--highlight);
}