/**
    LAYOUT

    Snipcar main container, basic content container, modal elements, loading screen
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_layout-border: 1px solid palette(layout, border);

$_layout-close-font-size: 1.5em;

$_layout-content-border: 1px solid palette(layout, content-border);


/*------------------------------------*\
    STYLE
\*------------------------------------*/

.snip-layout__main-container {
    background: palette(layout, background);
    margin-left: auto;
    max-width: 70.125em;
    position: relative;
    overflow: hidden;
    padding-right: 6rem;
}

.snip-layout__close {
    color: palette(layout, close-color);
    font-size: $_layout-close-font-size * 1.2;
    padding: .333em;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    z-index: 2;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;

    @media #{$mq-medium} {
        font-size: $_layout-close-font-size;

        &.js-hidden {
            //display: none;
        }

        &:after {
            content: "";
            height: 4rem;
            width: 6rem;
            position: absolute;
            top: -2rem;
            left: -1.66rem;
            transform: rotate(45deg);
            background: palette(layout, close-border-color);
            transition: background .33s ease;
        }

        &:hover {
            color: palette(layout, close-color-hover);
        }
    }
}

.snip-layout__loading {
    @include font-bold;
    color: palette(layout, loading-color);
    padding: 5em 0;
    text-align: center;
    text-transform: uppercase;
    margin-top: -0.3em;

}

.snip-layout__content {
    padding: 1em 0;

    @media #{$mq-medium} {
        padding: 2em 0 0;
    }
}

.snip-layout__content--highlight {
    background-color: palette(layout, content-background);
    border-bottom: $_layout-content-border;
    border-top: $_layout-content-border;
    padding: 1em 0;
}

.snip-layout__content--bordered {
    border-bottom: $_layout-border;
}