/**
    PRODUCT

    Product component, used for product items, shipping choices and payment methods

    [1]. Do not remove ".js-selected" class
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_product-border: 1px solid palette(product, border);

$_product-thumbnail-size: 65px;

$_product-customfield-size: 200px;

$_product-disabled-opacity: 0.2;


/*------------------------------------*\
    STYLE
\*------------------------------------*/

#snipcart-items,
#snipcart-shippings-list {
    &:before {
        content: "My cart's content";
        padding: 1.5em .625em;
        font-size: 16px;
        display: block;
        text-align: center;
        text-transform: uppercase;
        @include font-bold;
        color: #fff;
        width: 100%;
        background: #2a2a2a;
    }
}

#snipcart-items {
    &:before {
        content: "My cart's content";
    }
}

#snipcart-shippings-list {
    &:before {
        content: "Chose your Shipping method";
    }
}

.snip-product {
    @include clearfix;
    background: palette(product, background);
    border-top: $_product-border;
    font-size: fontsize(product, base);
    padding: 2em 1.25em;
}

.snip-product--selectable {
    cursor: pointer;
}

.snip-product--selectable-item {
    background: url("img/checkbox.png") no-repeat 0 center;
    padding-left: 2.286em;

    // [1]
    &.js-selected {
        background-image: url("img/selected.png");
    }
}

.snip-product__thumbnail {
    display: none;
}

.snip-product__name {
    @include font-bold;
    color: palette(product, color--highlight);
    font-size: 1.125em;
    overflow: hidden;
    text-transform: uppercase;

    @media #{$mq-medium} {
        font-size: fontsize(product, base);
        margin-top: .5em;
    }
}

.snip-product__description {
    font-size: fontsize(product, base) / 1.125;
    margin-top: 1rem;
    overflow: hidden;
    color: palette(product, description);

    @media #{$mq-medium} {
        font-size: fontsize(product, base);
    }
}

.snip-product__important {
    @include font-bold;
    font-size: fontsize(product, base) / 1.125;

    @media #{$mq-medium} {
        font-size: fontsize(product, base);
    }
}

.snip-product__remove {
    color: palette(product, color--error);
    font-size: fontsize(product, icon);
    position: absolute;
    right: $padding-small / 3.5;
    top: $padding-small / 1.75;

    @media #{$mq-medium} {
        position: absolute;
        top: 0;
        left: 0;
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        transition: color .33s ease;

        &:after {
            content: "";
            height: 2px;
            width: 4rem;
            position: absolute;
            top: 1.33rem;
            left: -.66rem;
            transform: rotate(-45deg);
            background: palette(product, color--error);
            transition: background .33s ease;
        }

        &:hover {
            color: palette(product, color--error-hover);

            &:after {
                background: palette(product, color--error-hover);
            }
        }
    }
}

.snip-product__remove--disabled {
    opacity: $_product-disabled-opacity;
    cursor: default;
}

.snip-product__customfields {
    @media #{$mq-medium} {
        max-width: $_product-customfield-size;
    }
}

.snip-product__customfields-checkbox {
    float: left;
    margin: 0 .5em .75em 0;
}

.snip-product__empty {
    font-size: fontsize(product, large);
    padding: 1em 2em;
    text-align: center;
    text-transform: uppercase;
}