/**
    QUANTITY TRIGGER

    Component to modify product quantity in the cart

    [1]. We use flexbox here since overall browser support is about 95% worldwide.
    [2]. Also, as fallback, we 'float' the columns. If your browser doesn't support flexbox, columns will be
         properly positionned even if the columns won't have the same height (graceful degradation).
    [3]. You can choose your own symbol (or even custom icon font) for add and remove product.
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

// [3]
$_qt-text-add: "+";
$_qt-text-remove: "-";


/*------------------------------------*\
    STYLE
\*------------------------------------*/

// [1]
.snip-quantity-trigger {
    @include font-bold;
    display: flex;
    align-items: center;
    color: palette(quantity-trigger, color);
    justify-content: center;
    margin: 1rem 0 0;
}

.snip-quantity-trigger__text {
    // [2]
    float: left;
    width: 2rem;
    text-align: center;

    &:before,
    &:after {
        content: "/";
        color: palette(quantity-trigger, color--light);
    }

    &:before {
        float: left;
    }

    &:after {
        float: right;
    }
}

.snip-quantity-trigger__btn {
    // [2]
    color: inherit;
    float: left;
    font-size: fontsize(quantity-trigger, large);
    font-weight: 400;
    width: 1.5rem;
    text-align: center;

    &:hover {
        color: #fff;
    }

    &:before {
    }
}

.snip-quantity-trigger__btn--add {
    &:before {
        // [3]
        content: $_qt-text-add;
    }
}

.snip-quantity-trigger__btn--minus {
    &:before {
        // [3]
        content: $_qt-text-remove;
    }
}

.snip-quantity-trigger__btn--disabled {
    background-color: palette(quantity-trigger, background--disabled);
    color: palette(quantity-trigger, color--disabled);
    cursor: default;

    &:hover {
        background-color: palette(quantity-trigger, background--disabled);
    }
}