/**
    STEP

    Breadcrump list navigation for the cart

    [1]. We add user-select: none to prevent text selection on navigation items
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_steps-height: 60px;

$_steps-border: 1px solid palette(step, border);


/*------------------------------------*\
    STYLE
\*------------------------------------*/

.snip-steps {
    background: palette(step, background);
    display: flex;
    text-align: center;

    &.snip-steps--4 li {
        width: percentage(1 / 4);
    }

    &.snip-steps--5 li {
        width: percentage(1 / 5);
    }

    &.snip-steps--6 li {
        width: percentage(1 / 6);
    }

    &.snip-steps--7 li {
        width: percentage(1 / 7);
    }
}

.snip-step__item {
    background: palette(step, background--1);
    color: palette(step, color);
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;

    &:nth-child(n+2) {
        background: palette(step, background--2);
    }

    &:nth-child(n+3) {
        background: palette(step, background--3);
    }

    &:nth-child(n+4) {
        background: palette(step, background--4);
    }

    &:nth-child(n+5) {
        background: palette(step, background--5);
    }

    &:nth-child(n+6) {
        background: palette(step, background--6);
    }

    &:nth-child(n+6) {
        background: palette(step, background--6);
    }

    &:nth-child(n+7) {
        background: palette(step, background--7);
    }

    &.js-active {
        background: palette(step, background--active);
        color: palette(step, color--active);

        .snip-step__nb {
            display: block;
        }

        .snip-step__label {
            display: none;
        }
    }

    &.js-hidden {
        display: none;
    }
}

.snip-step__nb {
    font-size: fontsize(step, icon) / 1.25;
    padding: 0 .25em;
    display: none;

    @media #{$mq-medium} {
        font-size: fontsize(step, icon);
    }
}

.snip-step__label {
    @media #{$mq-medium} {
        @include font-bold;
        font-size: fontsize(step, small);
        line-height: 16px;
        text-transform: uppercase;
        width: 66.666666%;
    }
}