/**
    COLOR

    Where all color's variables are defined

    Thanks to SASS Map, we can define all colors at one place.
    We also respect our BEM like notation and files architecture.
*/

$palettes: (
    action: (
        link: #999
    ),
    button: (
        background: #ddd,
        background--highlight: #a2c1df,
        background--hover: lighten(#ddd, 5%),
        background--highlight-hover: darken(#a2c1df, 33%),
        color: darken(#a2c1df, 33%),
        color--highlight: #fff
    ),
    error: (
        color: #f10,
        text-color: #333,
        text-color--invert: #fff
    ),
    flash: (
        background--error: #f10,
        background--success: #76d443,
        background--warning: #efe778,
        border: #333,
        color: #333,
        color--invert: #fff
    ),
    footer: (
        background: #f4f6f8,
        color--highlight: #aaa
    ),
    form: (
        background: #fff,
        border: #eee,
        border--focus: darken(#a2c1df, 33%),
        color: darken(#a2c1df, 33%),
        color--highlight: #333,
        label-color: #999
    ),
    header: (
        background: #f4f6f8,
        background--highlight: #ddd,
        color:  #a2c1df,
        label-color: darken(#a2c1df, 33%)
    ),
    layout: (
        background: #fff,
        border: #f8f8f8,
        close-color: #fff,
        color: #aaa,
        content-background: #f8f8f8,
        content-border: #bbb,
        loading-color: #333
    ),
    loader: (
        background: lighten(#a2c1df, 15%),
        background--highlight: darken(#a2c1df, 33%)
    ),
    product: (
        background: #f8f8f8,
        border: #f8f8f8,
        color--error: #e65,
        color--highlight: #a2c1df
    ),
    quantity-trigger: (
        background: #a2c1df,
        background--hover: #efe778,
        background--disabled: #eee,
        color: #fff,
        color--disabled: #bbb
    ),
    static: (
        background--highlight: #f8f8f8,
        border: #eee,
        color--highlight: darken(#a2c1df, 33%),
        color--link: #999
    ),
    step: (
        background: lighten(#a2c1df, 15%),
        background--active: darken(#a2c1df, 33%),
        border: lighten(#a2c1df, 15%),
        color: #a2c1df,
        color--active: #fff
    ),
    table: (
        background--highlight: #f8f8f8,
        border: #f8f8f8,
        color--highlight: #a2c1df,
        color--success: #76d443
    ),
    tooltip: (
        background: #ccc,
        border: #ccc transparent,
        label: #555,
        text: #111
    )
);