/**
    COLOR

    Where all color's variables are defined

    Thanks to SASS Map, we can define all colors at one place.
    We also respect our BEM like notation and files architecture.
*/

$palettes: (
    action: (
        link: lighten(#0a4e5f, 30%)
    ),
    button: (
        background: #607B7D,
        background--highlight: #AAAE8E,
        background--hover: #3A606E,
        background--highlight-hover: darken(#AAAE8E, 10%),
        color: rgba(#fff, .66),
        color--highlight: rgba(#000, .66)
    ),
    error: (
        color: #f10,
        text-color: #333,
        text-color--invert: #fff
    ),
    flash: (
        background--error: #f10,
        background--success: #76d443,
        background--warning: #efe778,
        border: #333,
        color: #333,
        color--invert: #fff
    ),
    footer: (
        background: #e8e8e8,
        color: #555,
        color--highlight: #999
    ),
    form: (
        background: transparent,
        border: #607B7D,
        border--focus: #607B7D,
        color: #AAAE8E,
        color--highlight: #828E82,
        label-color: #3A606E
    ),
    header: (
        background: #3A606E,
        background--highlight: #fff,
        color: #fff,
        label-color: rgba(#fff, .5)
    ),
    layout: (
        background: #fff,
        border: #e8e8e8,
        close-color: rgba(#fff, .5),
        close-color-hover: lighten(#AAAE8E, 30%),
        close-border-color: rgba(#fff, .125),
        color: #999,
        content-background: #f8f8f8,
        content-border: #bbb,
        loading-color: #333
    ),
    loader: (
        background: #222,
        background--highlight: #efe778
    ),
    product: (
        background: #607B7D,
        background--n2: #3A606E,
        background--n3: #828E82,
        background--n4: #AAAE8E,
        background--light: #e8e8e8,
        border: #eee,
        color--error: rgba(#fff, .1),
        color--error-hover: rgba(#fff, .5),
        color--highlight: rgba(#fff, .75),
        color--main: #fff,
        description: rgba(#000, .8)
    ),
    quantity-trigger: (
        background: #fff,
        background--hover: #efe778,
        background--disabled: #eee,
        color: #3A606E,
        color--light: #828E82,
        color--disabled: #bbb
    ),
    static: (
        background--highlight: #f8f8f8,
        border: #eee,
        color--highlight: #333,
        color--link: #999
    ),
    step: (
        background: #fff,
        background--active: #fff,
        border: #e8e8e8,
        color: #AAAE8E,
        color--active: #3A606E
    ),
    table: (
        background--highlight: #f8f8f8,
        border: #eee,
        color--highlight: #333,
        color--success: #76d443
    ),
    tooltip: (
        background: #ccc,
        border: #ccc transparent,
        label: #555,
        text: #111
    )
);