/**
    COLOR

    Where all color's variables are defined

    Thanks to SASS Map, we can define all colors at one place.
    We also respect our BEM like notation and files architecture.
*/

$palettes: (
    action: (
        link: lighten(#0a4e5f, 30%)
    ),
    button: (
        background: #555,
        background--highlight: lighten(#0a4e5f, 30%),
        background--hover: darken(#555, 10%),
        background--highlight-hover: lighten(#0a4e5f, 10%),
        color: #fff,
        color--highlight: #222
    ),
    error: (
        color: #f10,
        text-color: #333,
        text-color--invert: #fff
    ),
    flash: (
        background--error: #f10,
        background--success: #76d443,
        background--warning: #efe778,
        border: #333,
        color: #333,
        color--invert: #fff
    ),
    footer: (
        background: #333,
        color: #555,
        color--highlight: #999
    ),
    form: (
        background: transparent,
        border: lighten(#0a4e5f, 30%),
        border--focus: #fff,
        color: #fff,
        color--highlight: #333,
        label-color: #999
    ),
    header: (
        background: #333,
        background--highlight: #111,
        color: #fff,
        label-color: #555
    ),
    layout: (
        background: #333,
        border: rgba(#eee, .25),
        close-color: rgba(#fff, .5),
        close-color-hover: lighten(#0a4e5f, 30%),
        close-border-color: rgba(#fff, .125),
        color: #999,
        content-background: #f8f8f8,
        content-border: #bbb,
        loading-color: #333
    ),
    loader: (
        background: #222,
        background--highlight: #efe778
    ),
    product: (
        background: #0a4e5f,
        background--n2: lighten(#0a4e5f, 10%),
        background--n3: lighten(#0a4e5f, 20%),
        background--n4: lighten(#0a4e5f, 30%),
        border: #eee,
        color--error: rgba(#fff, .5),
        color--error-hover: #fff,
        color--highlight: rgba(#fff, .75),
        color--main: #fff,
        description: rgba(#000, .66)
    ),
    quantity-trigger: (
        background: #ccc,
        background--hover: #efe778,
        background--disabled: #eee,
        color: rgba(#fff, .5),
        color--light: rgba(#fff, .25),
        color--disabled: #bbb
    ),
    static: (
        background--highlight: #f8f8f8,
        border: #eee,
        color--highlight: #333,
        color--link: #999
    ),
    step: (
        background: #ccc,
        background--active: #fff,
        background--1: #0a4e5f,
        background--2: lighten(#0a4e5f, 5%),
        background--3: lighten(#0a4e5f, 10%),
        background--4: lighten(#0a4e5f, 15%),
        background--5: lighten(#0a4e5f, 20%),
        background--6: lighten(#0a4e5f, 25%),
        background--7: lighten(#0a4e5f, 30%),
        border: #bbb,
        color: #fff,
        color--active: lighten(#0a4e5f, 30%)
    ),
    table: (
        background--highlight: #f8f8f8,
        border: #eee,
        color--highlight: #333,
        color--success: #76d443
    ),
    tooltip: (
        background: #ccc,
        border: #ccc transparent,
        label: #555,
        text: #111
    )
);